ywebsite/ymap_webtool/data/ymap_data/*
ywebsite/ymap_webtool/data/input/*
ywebsite/ymap_webtool/data/output/*
C:\Users\eregenyi\Desktop\KU Leuven\3rd semester\Integrated Bioinformatics Project\yWeb\django\try out\ymapwebsite\yWebsite\ywebsite\ymap_webtool\__pycache__\*
