<!DOCTYPE html>
<html>
<head>
<title>Contact</title>

<!--encoding type-->
<meta charset="UTF-8">

<!--CSS file containing style-->
{% load static %} <!--this help load the static file-->
<link rel="stylesheet" type="text/css" href="{% static 'ymap_webtool/ymap.css' %}" />

<!--<link rel="stylesheet" type="text/css" href="ymap.css">-->

<!--responsive html so teh content fit to the screen-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
        
<!--------------------------------------------------------------HEADER--------------------------------------------------------------------->
<div class= "header w100">
            <!--left-->
            <a  class = "inline logo t_col2" id = "logo" href="//www.yMap.com"> yMap
            <span class= "t_col1" id = "dotcom">.com</span>
            </a>
       
            <!--right-->
            <div class = "inline header_rigth t_col2"  id = "yMap_Acro_top" >YEAST GENOTYPE TO PHENOTYPE MAP
            </div>
</div>



<!--------------------------------------------------------------MENU--------------------------------------------------------------------->
<div class= "H_menu w100 b_col1">
            <ul class="H_menu_ul">
                        <li id="menu_home" class ="H_menu_item inline"><a href={% url 'index' %}>Home</a></li>
                        <li id="menu_publication" class ="H_menu_item inline"><a href={% url 'publications' %}>Publications</a></li>
                        <li id="menu_about" class ="H_menu_item inline"><a href={% url 'overview' %}>About</a></li>
                        <li id="menu_troubleshooting" class ="H_menu_item inline"><a href={% url 'troubleshooting' %}>Troubleshooting</a></li>                        
                        <li id="menu_contact" class ="H_menu_item inline active"><a href={% url 'contact' %}>Contact</a></li>
            </ul>     
</div>


            
<!--------------------------------------------------------------BANDEROLE--------------------------------------------------------------->
<div class = "yeast_picture" >
</div>


<!--------------------------------------------------------------CONTACT FORM--------------------------------------------------------------->

    <header class="body">
            <p class="contact_header font_header fs_big">SEND US A MESSAGE</p>
    </header>

    <section class="body">
             <!--action specify the php scipt to be use to send the data-->

            <form class="contact_form" method="post" action= contact.php>
                                
                        <label class="contact_label">Name</label>
                        <input class="contact_input" name="name" type="text"placeholder="Enter your name">
                                    
                        <label class="contact_label">Email</label>
                        <input class="contact_input" name="email" type="email" placeholder="Enter your email">
                        
                        <label class="contact_label">Subject</label>
                        <input class="contact_input" name="subject" type="text" placeholder="Enter the subject of your message">
						
                        <input class="contact_invisible" name="invisible">
                        
                        <label class="contact_label">Message</label>
                        <textarea class="contact_textarea" name="message" placeholder="Enter your message"></textarea>
                        <div class="centered">
                        <input  id="contact_submit" name="contact_submit" type="submit" value="Send">
                        </div>    
            </form>
    </section>

    <footer class="body">
    </footer>

</body>
</html>
