{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Databases{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block about_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}

<!--------------------------------------------------------------VERTICAL MENU--------------------------------------------------------------->
           
<div class= "V_menu b_col1">
            <ul class="V_menu_ul b_col1">
                        <li id="menu_overview" class ="V_menu_item "><a href={% url 'overview' %}>Overview</a></li>
                        <li id="menu_pipeline" class ="V_menu_item "><a href={% url 'pipeline' %}>Pipeline</a></li>
                        <li id="menu_databases" class ="V_menu_item active"><a href={% url 'databases' %}>Databases</a></li>
                        <li id="menu_inputformat" class =" V_menu_item"><a href="input_format.html">Input format</a></li>
                        <li id="menu_results" class ="V_menu_item "><a href={% url 'results'%}>Results</a></li>
                        <li id="menu_howtocite" class ="V_menu_item "><a href={% url 'how_to_cite'%}>How to cite</a></li>
            </ul>     
</div>

<!--------------------------------------------------------------CONTENT--------------------------------------------------------------->

<div class= "about_content">
            
The yMOOSE server hosts several datasets downloaded from several reference databases.
<br>
<br>
The translation of the mutation from DNA level to protein level and the identification of non-synonymous SNPs
is performed using the complete <i>Saccharomyces S. cerevisiae</i>'s annotated sequence from the <a href="https://www.yeastgenome.org/">Saccharomyces Genome Database</a> (SGD) 
<br>
<br>
Functional and structural annotations of the complete <i>Saccharomyces S. cerevisiae</i> proteome along with the position of modified post-translational modified residues are obtained
from the <a href="http://www.uniprot.org/">UniProt KB</a> database.
<br>
<br>
The list of <a href="https://thebiogrid.org/">BioGRID</a> IDs for the complete <i>Saccharomyces S. cerevisiae</i>  yeast proteome
is is also obtained from the <a href="http://www.uniprot.org/">UniProt KB</a> database.
<br><br>
More detailed PTM annotations are obtained from <a href="http://ptmcode.embl.de/">PTMcode 2.0</a> and <a href="http://ptmfunc.com/">PTMfunc</a>. 
<br><br>

</div>
{% endblock %}

