<!--template inheritance: add content -->
<!-- this is only one block, because the submitted page calls for it and appends its content with it-->

{% block content %}

<!--------------------------------------------------------------DOWNLOAD  FORM--------------------------------------------------------------->
    
<div class = "download_form">
            <header class="body">
                        <p class="contact_header font_header fs_medium">Your job is finished, click on the button below to download the results</p>
            </header>
            
            <section class="body">
			<!-- call the function download_result from view.py upon button click -->
                        <form class="contact_form" method="get" action="download_result">
						
									<!-- django protection against Cross Site Request Forgery-->
									{% csrf_token %} 
									
                                    <div class= "centered">
                                                <button class= download type="submit">Download</button>
                                    </div>
                                    <input type="hidden" name="user_id" id="u_id" value={{user_id}} >
                        </form>
                        <div id="div_id" style="display: none;">{{user_id}}</div>
            </section>
            
            <footer class="body">
            </footer>
<div>
{% endblock %}
