{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}How to cite{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block about_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}


<!--------------------------------------------------------------VERTICAL MENU--------------------------------------------------------------->
       
<div class= "V_menu b_col1">
            <ul class="V_menu_ul b_col1">
                        <li id="menu_overview" class ="V_menu_item "><a href={% url 'overview' %}>Overview</a></li>
                        <li id="menu_pipeline" class ="V_menu_item "><a href={% url 'pipeline' %}>pipeline</a></li>
                        <li id="menu_databases" class ="V_menu_item "><a href={% url 'databases' %}>Databases</a></li>
                        <li id="menu_inputformat" class =" V_menu_item"><a href={% url 'input_format' %}>Input format</a></li>
                        <li id="menu_results" class ="V_menu_item "><a href={% url 'results'%}>Results</a></li>
                        <li id="menu_howtocite" class ="V_menu_item active"><a href={% url 'how_to_cite'%}>How to cite</a></li>
            </ul>     
</div>

<!--------------------------------------------------------------CONTENT--------------------------------------------------------------->

<div class= "about_content ">
              
            <p>
            Please cite yMap as the following:
            
            <br>
            <br>
             
            Ahmed Arslan and Vera van Noort, yMap: an automated method to map yeast variants to protein modifications and functional regions
            <i>Bioinformatics</i> October 22, 2016 <a href="https://doi.org/10.1093/bioinformatics/btw658"> doi:10.1093/bioinformatics/btw658 </a>
            
            </p>
</div>
{% endblock %}

