{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Home{% endblock %}

<!--template inheritance: add the class "active" in the block *_class corresponding to the current page -->
{% block home_class %}active{% endblock %}">


<!--template inheritance: add content -->
{% block content %}
<div class= "content">
<!---------------------------------------------YMAP DESCRIPTION------------------------------------------------------------>

<div>
            <p>          
            yMap map large yeast variants data to proteins features and post translational modifications.
            <br>
            <br>
            <!--It can be used to analyze mutations that affect important functional regions and the secondary structural regions.
            <br>
            <br>
            It can facilitate the interpretation of large-scale variant data and the correlation of genotype with phenotype.
            -->
            </p>
</div>

<!--------------------------------------------------------------FORM--------------------------------------------------------------------->
<div >
            
            
            <form class = "input_form" action="get_file" method="post" enctype="multipart/form-data">
			<!-- 
			action="get_file" : call to the view's function "get_file"
			method="post" : method to send the data
			enctype="multipart/form-data" :???
			-->
			
			<!-- django protection against Cross Site Request Forgery-->
			{% csrf_token %} 
			
			
			 <!--field MUST has a name if not they will not be sent + this name should be = to the name given in the action script-->                   
                    
         
                        
                        <div class = "mendatory"> <!-- add inline if want to display optional field-->
                                    
                                    <header class="input_header ">
                                                <p class="input_header font_header">ENTER YOUR INPUT FILE</p>
                                    </header>
																	
                                    <div class = "input_background b_col2">           
                                                
												<!--label of browse button-->   
												<!--"for" refers to the id of the input it is associated-->  
												<!--cliking on a label == clinking on the button-->  
												<!--uncomment if you want to use the label as a stulable browse button !need to add class "input_invisible" to the input-->  
                                                <!--"<label for="browse_txt" class= "browse inline">  Browse </label>-->
												
												
												<!--input field-->	
												<input type="file" accept=".txt" name="myfile" id="browse_txt" class="inline" >
                                                
                                    </div> 
									
                        </div>
                                    
									<!--submit button-->									
                                    <div class="centered">										
										<input type="submit" class = "input_submit"  value="Run yMap">
									</div>
            </form>

             <!--Django message added by eni-->
            {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}
			
</div>         
</div>
</div>
{% endblock %}
