{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Input format{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block about_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}


<!--------------------------------------------------------------VERTICAL MENU--------------------------------------------------------------->
           
<div class= "V_menu b_col1">
            <ul class="V_menu_ul b_col1">
                        <li id="menu_overview" class ="V_menu_item "><a href="overview.html">Overview</a></li>
                        <li id="menu_pipeline" class ="V_menu_item "><a href="pipeline.html">Pipeline</a></li>
                        <li id="menu_databases" class ="V_menu_item "><a href="databases.html">Databases</a></li>
                        <li id="menu_inputformat" class =" V_menu_item active"><a href="input_format.html">Input format</a></li>
                        <li id="menu_results" class ="V_menu_item "><a href="results.html">Results</a></li>
                        <li id="menu_howtocite" class ="V_menu_item "><a href="how_to_cite.html">How to cite</a></li>
            </ul>     
</div>

<!--------------------------------------------------------------CONTENT--------------------------------------------------------------->

<div class= "about_content">
<p>     
yMap take as input your list of mutations at protein or DNA level in <b>text file format</b>.
The file can have more columns than necessary but the mandatory columns must come first and respect the order specified below.
</p>

<h2>
Mutations at protein level
</h2>

<p>The mutation file at protein level must have as first columns:
<br>
protein id - mutation location on the protein
<br>
<br>
Example:
</p>

{% load static %}
<img src="{% static "ymap_webtool/images/input_protein.png" %}" alt="input file - mutations at protein level"/>

<h2>
Mutations at DNA level
</h2>
<p>
The mutation file at protein level must have as first columns:
<br>
chromosome number - mutation position on the chromosome - reference nucleotid - mutated nucleotid - gene id
<br>
<br>
Example:
</p>
{% load static %}
<img src="{% static "ymap_webtool/images/input_dna.png" %}" alt="input file - mutations at DNA level"/>

</div>
{% endblock %}

