{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Overview{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block about_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}

<!--------------------------------------------------------------VERTICAL MENU--------------------------------------------------------------->
           
<div class= "V_menu b_col1">
            <ul class="V_menu_ul b_col1">
                        <li id="menu_overview" class ="V_menu_item active"><a href={% url 'overview' %}>Overview</a></li>
                        <li id="menu_pipeline" class ="V_menu_item "><a href={% url 'pipeline' %}>pipeline</a></li>
                        <li id="menu_databases" class ="V_menu_item "><a href={% url 'databases' %}>Databases</a></li>
                        <li id="menu_inputformat" class =" V_menu_item"><a href="input_format.html">Input format</a></li>
                        <li id="menu_results" class ="V_menu_item "><a href={% url 'results'%}>Results</a></li>
                        <li id="menu_howtocite" class ="V_menu_item "><a href={% url 'how_to_cite'%}>How to cite</a></li>
            </ul>     
</div>

<!--------------------------------------------------------------CONTENT--------------------------------------------------------------->

<div class= "about_content">
            
yMap is a python based fast and robust automated method to map large yeast variants data to 
            
proteins post-translational modifications,                 
proteins domains,          
proteins-nucleotide binding domains, 
proteins structural regions, 
proteins active and binding sites 
proteins networks visualisation. 
<br>
<br>
The protein features are collected from Uniprot.
<br>
<br>
The post-translational modifications are collected from PTMcode 2.0 and PTMfunc.
<br>
<br>
yMap generates a "final-report" which reports all the non-synonymous mutations that overlaps or falls inside the above mentioned proteins functional regions.
The final-report is complemented GO enrichment analysis and biogrid visualisation id.

</div>
{% endblock %}
