{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Publications{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block publication_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}

<!--------------------------------------------------------------PUBLICATION LIST--------------------------------------------------------------->

<div class= "content">
<!--A description list,(dl) with terms (dt) and descriptions (dd)-->
<dl> 
            <dt><a href="https://doi.org/10.1093/bioinformatics/btw658">yMap: an automated method to map yeast variants to protein modifications and functional regions</a></dt>
            <dd> Ahmed Arslan Vera van Noort, <i>Bioinformatics</i>, Volume 33, Issue 4, 15 February 2017, Pages 571–573</dd>
</dl>

</div>
{% endblock %}