{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Job submitted{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}
<!--script added from eni's template-->
<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js>
</script>
{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block home_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}
<div class= "content">
    
    <!--eni's part from template-->
     <script>
    window.onload = function () {
        $.ajax({
                url: '/ymap_webtool/processing',
                type: "GET",
                data: {},
                success: function (data, textStatus, JQXHR) {
				window.location.href = '/ymap_webtool/finished';
				},
                complete: function () { },
                error: function () { 
				window.location.href = '/ymap_webtool/submission_failed';
				}
        });
    }
    </script>
    <p id="message">
        Your job is submitted and being processed. please be patient
    </p>
</div>
{% endblock %}

