{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Job submitted{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}

<!--script added from eni's template-->
<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js>
</script>
{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block home_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}
<div class= "content">
    	
    <!-- this ajax call will replace the paragraph with id="message" with the content of parameter data -->
	<!-- @param data - html response from the server -->
		<script>
			console.log("ajax előtt")
				window.onload = function () {
					$.ajax({
						url: '/ymap_webtool/processing',
						type: "GET",
						data: {"user_id": $("#div_id").text()},
						success: function (data, textStatus, JQXHR) { 
							console.log(data);
							console.log(textStatus);
							console.log(JQXHR);
							$("#message").html(data); //replace "message" with the finished page
						},
						complete: function () { },
						error: function () { 
							$("#message").html(data); //replace "message" with the error page
						}
					});
				}
			console.log("ajax után")
		</script>
							
    <p id="message">
        Your job is submitted and being processed. Please be patient.
	</p>
	<div id="div_id" style="display: none;">{{user_id}}</div>
</div>
{% endblock %}

