{% extends "ymap_webtool/base.html" %}

<!--template inheritance: add page title-->
{% block title %}Troubleshooting{% endblock %}

<!--template inheritance: in case something else is needed in the head-->
{% block head %}{% endblock %}

<!--template inheritance: add the class "active in the block *_class corresponding to the current page -->
{% block troubleshooting_class %}active{% endblock %}">

<!--template inheritance: add content -->
{% block content %}


<div class= "about_content">
<p>
All known issues has been resolved.
If you encouter an issue, please <a href={% url 'contact'%}>contact us!</a>
</p>
</div>
{% endblock %}

